<div class="container">
  <h1>Hello! This is the dino you requested:
  <h1><span><%= @dino.name %></span></h1>
  <h1><span><%= @dino.color %></span></h1>
  <h1><span><%= @dino.breed %></span></h1>
  </h1>
  <%= link_to("edit dino", edit_dino_path) %>
  </br>
  <%= link_to 'delete dino', dino_path(@dino), method: :delete, data: {confirm: 'Are you sure?'} %>
</div>
